@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #DF0B56;
  --secondary-color: #F2EFF0;
  --terciary-color: #483C40;
  --jackWhite: #FEFEFE;
  --jackBlack: #000201;
}

@layer components {
  .active {
    @apply underline underline-offset-8;
  }
}

@layer utilities {
  .grid-rows-layout {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}